<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ldrp.medeeasyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HospitalReviewActivity"></activity>
        <activity android:name=".HospitalListActivity" />
        <activity
            android:name=".PatientViewLabReportActivity"
            android:label="@string/patinet_report" />
        <activity
            android:name=".LaboratoryBookingActivity"
            android:label="@string/lab_book" />
        <activity
            android:name=".LaboratoryListActivity"
            android:label="@string/laboratory" />
        <activity
            android:name=".SendMedicineRequestActivity"
            android:label="@string/prescription" />
        <activity
            android:name=".MedicalListActivity"
            android:label="@string/medical_list" />
        <activity
            android:name=".BasicDiseasesListActivity"
            android:label="@string/disease" />
        <activity
            android:name=".PatientReminderActivity"
            android:label="@string/patient_reminder" />
        <activity
            android:name=".PatientPrescriptionViewActivity"
            android:label="@string/viewprescription" />
        <activity android:name=".PatientReportViewActivity" />
        <activity android:name=".DoctorSelectPrescriptionActivity" />
        <activity android:name=".DoctorReminderActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".PresciptionActivity" />
        <activity android:name=".ViewRequestAppoinmentActivity" />
        <activity android:name=".patient.BookAppoinmentActivity" />
        <activity
            android:name=".PatientHomeActivity"
            android:label="@string/title_activity_patient_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".patient.PatientRegistrationActivity" />
        <activity
            android:name=".patient.PatientLoginActivity"
            android:label="@string/patient_login" />
        <activity
            android:name=".doctor.DoctorHomeActivity"
            android:label="@string/title_activity_doctor_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/forgot_passwor" />
        <activity
            android:name=".doctor.DoctorRegistrationActivity"
            android:label="@string/doctorregi" />
        <activity
            android:name=".doctor.DoctorLoginActivity"
            android:label="@string/doctor_login" />
        <activity
            android:name=".LoginSelectionActivity"
            android:label="@string/loginsele" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>